version: '3'
services:
  app:
    cap_add:
      - SYS_PTRACE
#    image: zdzserver/lnmp-app # 使用已有的镜像（快速）
#    build: # 自己构建（php安装扩展越多，越慢）
#      context: .
#      args:
#        TZ: ${TZ}
#        ALPINE_REPOSITORIES: ${ALPINE_REPOSITORIES}
#        PHP_VERSION: ${PHP_VERSION:-7.4.3}
#        PHP_EXTENSIONS: ${PHP_EXTENSIONS}}
    ports:
      - 80:80
      - 433:433
    restart: always
    volumes:
      - ${WEB_DIR:-/srv/www}:/srv/www
      - ./php/php.ini:/usr/local/etc/php/conf.d/my.ini
      - ./php/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./nginx/conf.d:/etc/nginx/conf.d/
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/extend:/etc/nginx/extend
      - ./log/php:/var/log/php
      - ./log/nginx:/var/log/nginx
    networks:
      - default
  mysql:
    image: mysql:${MYSQL_IMAGE_VERSION:-latest}
    ports:
      - 3306:3306
    restart: always
    volumes:
      - ./mysql/conf/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro
      - ./log/mysql:/var/log/mysql/:rw
      - ./mysql/data:/var/lib/mysql/:rw
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: ${TZ}
    networks:
      - default
  redis:
    image: redis:${REDIS_IMAGE_VERSION:-latest}
    ports:
      - 6379:6379
    restart: always
    volumes:
      - ./redis/data:/data:rw
      - ./redis/conf/redis.conf:/etc/redis.conf:ro
      - ./log/redis:/var/log/redis
    command: ["redis-server", "/etc/redis.conf"]
    networks:
      - default
    environment:
      TZ: ${TZ}
  mongo:
    image: mongo:${MONGO_IMAGE_VERSION:-latest}
    ports:
      - 27017:27017
    restart: always
    volumes:
      - ./mongo/conf/mongod.yml:/etc/mongod.conf:rw
      - ./log/mongo:/var/log/mongo
    environment:
      TZ: ${TZ}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    # 配置文件 换行符不能是CRLF和CR
    command: mongod --config /etc/mongod.conf
    networks:
      - default
  mongo-express:
    image: mongo-express:${MONGO_EXPRESS_IMAGE_VERSION:-latest}
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - default