version: '3'
services:
  app:
    cap_add:
      - SYS_PTRACE
    build:
      context: .
      args:
        TZ: "Asia/Shanghai"
        ALPINE_REPOSITORIES: "mirrors.aliyun.com"
        PHP_VERSION: "7.4.1"
        # all: bcmath,mysqli,opcache,pdo_mysql,redis,zip,gd,mongodb,openssl,rdkafka,swoole
        PHP_EXTENSIONS: "bcmath,mysqli,opcache,pdo_mysql,redis,zip,gd,mongodb,openssl,rdkafka,swoole"
    ports:
      - 80:80
      - 433:433
    volumes:
      - /srv/www:/srv/www
      - ./php/php.ini:/usr/local/etc/php/conf.d/my.ini
      - ./php/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./nginx/conf.d:/etc/nginx/conf.d/
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/extend:/etc/nginx/extend
      - ./log/php:/var/log/php
      - ./log/nginx:/var/log/nginx
    networks:
      - default
  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    restart: always
    volumes:
      - ./mysql/conf/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro
      - ./log/mysql:/var/log/mysql/:rw
      - ./mysql/data:/var/lib/mysql/:rw
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      TZ: "$TZ"
  redis:
    image: redis:5.0.5-alpine
    ports:
      - 6379:6379
    restart: always
    volumes:
      - ./redis/data:/data:rw
      - ./redis/conf/redis.conf:/etc/redis.conf:ro
      - ./log/redis:/var/log/redis
    entrypoint: ["redis-server", "/etc/redis.conf"]
    networks:
      - default
    environment:
      TZ: "$TZ"
  mongo:
    image: mongo:4.2
    ports:
      - 27017:27017
    volumes:
      - ./mongo/conf/mongod.yml:/etc/mongod.conf:rw
      - ./log/mongo:/var/log/mongo
    entrypoint: mongod -f /etc/mongod.conf
    environment:
      TZ: "$TZ"
      MONGO_INITDB_ROOT_USERNAME: "mongo"
      MONGO_INITDB_ROOT_PASSWORD: "test"
    networks:
      - default
